:root{
  --fontMain: 0.9rem;
  --fontMainColor: bold;
  --fontSecundary: 0.7rem;
  --fontBoxColor: #464646;
  --background1: #ffffff;
}

*{
  font-family: 'Raleway', Times, serif;
}

.body__container {
  background: darkcyan;
  min-width: 306px;
}

.main__container{
  justify-content: center; 
  align-items: center;
  flex-direction: column;  
  background-color: darkcyan;
  padding: 15px;
  gap: 5px;

}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  margin: 0.4rem 0 0.4rem;
}

.menu__header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 10px;
  /* background: var(--background1); */
}

.menu__header__img{
  height: 1.2rem;
}

.menu__title{
  font-size: 0.5rem;
}

.menu__list {
  display: none;
}
.menu__list__item__contato {
  list-style: none;
}

.menu__list__item__contato__link {
  list-style: none;
  text-decoration: none;
  font-size: 0.5rem;
  margin-right: 1rem;
}

.title{
 max-width: 600px;
 margin: auto;
}

.title__profile {
  background: url("/assets/Profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 8rem; 
  border-radius: 100%;
  height: 9rem; 
  margin: 1rem;
  width:  135px;
}

.title__container{
  justify-content: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  margin: 1rem;
}

.title__bio{
  font-size: var(--fontMain);
  font-weight: var(--fontMainColor);
}

.title__subsection{ 
  font-size: var(--fontSecundary);
}

.title__network{
  display: flex;
  justify-content: space-between;
}

.title__network__link{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.1vw;
  min-width: 1.5rem;
  
}

.about{
  max-width: 600px;
  margin: auto;
}

.about__container{
  justify-content: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.about__title{
  font-size: var(--fontMain);
  font-weight: var(--fontMainColor);
  margin-bottom: 1rem;
}

.about__paragraph{
  font-size: var(--fontSecundary);
}

.skills{
  display: grid;
  justify-items: center;
  justify-content: center;
}

.skills__title{
  font-size: var(--fontMain);
  font-weight: var(--fontMainColor);
  margin: 0.5rem;
}


.skills__line{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.skills__box{
  display: flex;
  justify-content: center;
  border: 1px;
  width: 35vw;
  font-size: 0.5rem;
  flex-wrap: nowrap;
}

.skills__list{ 
  width: 10rem;
  border: #464646 solid;
  height: 5rem;
  }


.skills__img {
  margin: 2rem 0 0 1rem;
  width: 10px;
}

.skills__name {
  margin: 0.2rem 0 0 1rem;
  color: var(--fontBoxColor);
  }

  .hobbies{
    display: grid;
    justify-items: center;
    justify-content: center;
  }

  .hobbies__title{
    font-size: var(--fontMain);
    font-weight: var(--fontMainColor);
    margin: 0.5rem;
  }
  
  .hobbies__box{
    display: flex;
    justify-content: center;
    border: 1px;
    width: 35vw;
    font-size: 0.5rem;
    flex-wrap: nowrap;
  }
  
  .hobbies__line{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .hobbies__list{ 
    width: 10rem;
    border: #464646 solid;
    height: 5rem;
  }
  
  .hobbies__img {
    margin: 2rem 0 0 1rem;
    width: 10px;
  }
  
  .hobbies__name {
    margin: 0.2rem 0 0 1rem;
    color: var(--fontBoxColor);
  }
  
  .academic{  
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.8rem;
      /*background: #EA */
        }

    .academic__title{
      font-size: var(--fontMain);
      font-weight: var(--fontMainColor);
      margin: 0.5rem;
    }

    .academic__courses__box{
      margin: 0.1rem;
      justify-content: center;
    }

    .academic__courses__list{
      gap: 0.4rem;
   
    }

    .academic__courses__item__img.pic__1{
      background: url("/assets/Universidad.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 30%;
      border: #464646 solid;
      height: 6rem;
      margin-bottom: 0.5rem;
    }
    
    .academic__courses__item__img.pic__2{
      background: url("/assets/alura_logo.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 45%;
      border: #464646 solid;
      height: 6rem;
      margin-bottom: 0.5rem;
    }

    .academic__courses__item__title{
      font-size: var(--fontSecundary);
    }

    .academic__courses__item__subtitle{
      font-size: var(--fontSecundary);
    }

    .experience{
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.8rem;
      /*background: #EA */  
     }

     .experience__section__title{
      font-size: var(--fontMain);
      font-weight: var(--fontMainColor);
      margin: 0.5rem;
    }
    
    .experiencie__box{  
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  
    .experience__img{
      width: calc(100vw - 1rem);
      min-width:100%;
      max-width: 24rem;
    }

    .experience__info{
      display: flex;
      flex-direction: column;
      margin: 1rem 0 1rem 0;
      gap: 0.4rem;
    }

    .experience__description{
      font-size: var(--fontSecundary);
    }

    .experiencia__botao--repo{
      /*color: #2A7AE4;*/
      width: 5rem;
      height: 1.5rem;
      font-size: 0.6rem;
      max-width: 100px;
    }
    
    .experience__botao--demo{
      width: 5rem;
      height: 1.5rem;
      font-size: 0.6rem;
    }

    .formcontato{
      display: flex;
      flex-direction: column;
      align-items: center;
      /*background: #EA */  
    }

    .formcontato__contacto{
      width: 100%;
      max-width: 26rem;
    }

    .formcontato__img{
      display: none;
    }
    .formcontato__text{
      font-size: 0.5rem;
    } 

    .formcontato__title{
      font-size: 1rem;
      font-weight: 500;
      margin: 0 0 0.5rem 1rem;
    } 

    .formcontato__subtext{
      margin: 0.5rem 1rem 0.5rem 1rem;
    }

    
    .formcontato__form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 150px;
      margin: 0 1rem 0 1rem;
    } 

    .formcontato__botao{
      width: 5rem;
      height: 1.7rem;
      margin-top: 0.5rem;
      background: #2A7AE4;
      color: #FFFFFF;
      font-size: 0.6rem;
    }

    .footer__rodape{
      color: #464646;
      display: flex;
      justify-content: center;

      font-size: 0.7rem;
      margin-top: 0.5rem;
    }







