.skills {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.skills__title {
  font-size: var(--fontMain);
  font-weight: var(--fontMainColor);
  margin: 0.5rem;
}

.skills__line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.5rem;
}

.skills__box {
  display: flex;
  border: 1px;
  font-size: 0.5rem;
  justify-content: center;
  width: 43vw;
}

.skills__list {
  border: #464646 solid;
  height: 5rem;
  width: 10rem;
}

.skills__img {
  margin: 2rem 0 0 1rem;
  width: 10px;
}

.skills__name {
  color: var(--fontBoxColor);
  margin: 0.2rem 0 0 1rem;
}

@media only screen and (min-width: 768px) {
  .skills__title {
    font-size: var(--fontMain2);
  }

  .skills__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }

  .skills__box {
    border: 1px;
    display: flex;
    font-size: 0.5rem;
    justify-content: space-between;
    width: 30.8vw;
  }

  .skills__list {
    border: var(--fontBoxColor) solid;
    height: 5rem;
    width: 20rem;
  }
}
