.academic {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin: 0 1.5rem;
}

.academic__title {
  font-size: var(--fontMain);
  font-weight: var(--fontMainColor);
  margin: 0.5rem;
}

.academic__courses__box {
  justify-content: center;
  margin: 0.1rem;
}

.academic__courses__list {
  gap: 0.4rem;
}

.academic__courses__item__img.pic__1,
.academic__courses__item__img.pic__2 {
  border: #464646 solid;
  height: 6rem;
  margin-bottom: 0.5rem;
}

.academic__courses__item__img.pic__1 {
  background: url(/assets/Universidad.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 33%;
}

.academic__courses__item__img.pic__2 {
  background: url(/assets/alura_logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;
}

.academic__courses__item__subtitle,
.academic__courses__item__title {
  font-size: var(--fontSecondary);
}

@media only screen and (min-width: 768px) {
  .academic__title {
    font-size: var(--fontMain2);
    font-weight: var(--fontMainColor);
    margin: 1rem;
  }

  .academic__courses {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    max-width: 55rem;
    width: calc(100vw - 2.5rem);
  }

  .academic__courses__box {
    justify-content: center;
    width: 25rem;
  }

  .academic__courses__item__subtitle,
  .academic__courses__item__title {
    font-size: var(--fontSecondary2);
  }
}
