.experience {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
}

.experience__section__title {
  font-size: var(--fontMain);
  font-weight: var(--fontMainColor);
  margin: 0.5rem;
}

.experiencie__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.experience__img {
  height: 20vh;
  max-width: 24rem;
  width: calc(100vw - 3rem);
}

.experience__info {
  display: flex;
  flex-direction: column;
  font-size: var(--fontSecondary);
  gap: 0.2rem;
  margin: 0.7rem 0;
}

.experience__botao--demo,
.experiencia__botao--repo {
  border: 1px solid;
  font-size: 0.5rem;
  height: 1.5rem;
  width: 5rem;
}

.experiencia__botao--repo {
  color: #2a7ae4;
  max-width: 100px;
}

.experience__botao--demo {
  background: #2a7ae4;
  color: #fff;
}

@media only screen and (min-width: 768px) {
  .experience__section__title {
    font-size: var(--fontMain2);
  }

  .experience__img {
    height: 20rem;
    margin-bottom: 1rem;
    max-width: 54.8rem;
    width: calc(100vw - 2.5rem);
  }

  .experience__info {
    display: flex;
    flex-direction: column;
    font-size: var(--fontSecondary2);
    gap: 0.4rem;
  }

  .experience__botao--demo,
  .experiencia__botao--repo {
    border: 1px solid;
    font-size: var(--fontSecondary);
    height: 1.7rem;
    width: 6rem;
  }
}
@media only screen and (min-width: 992px) {
  .experience__img {
    height: 16rem;
    max-width: 42.1rem;
    margin-bottom: 2rem;
    width: calc(76vw - 2.5rem);
  }

  .experiencie__box.pic__1,
  .experiencie__box.pic__3 {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    width: 55rem;
  }

  .experiencie__box.pic__2 {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    width: 55rem;
  }
}
