.hobbies {
  display: grid;
  justify-items: center;
  justify-content: center;
}

.hobbies__title {
  font-size: var(--fontMain);
  font-weight: var(--fontMainColor);
  margin: 0.5rem;
}


.hobbies__box {
  display: flex;
  justify-content: center;
  border: 1px;
  width: 43vw;
  font-size: 0.5rem;
}

.hobbies__line {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.hobbies__list {
  width: 10rem;
  border: #464646 solid;
  height: 5rem;
}

.hobbies__img {
  margin: 2rem 0 0 1rem;
  width: 10px;
}

.hobbies__name {
  margin: 0.2rem 0 0 1rem;
  color: var(--fontBoxColor);
}

@media only screen and (min-width: 768px) {

  .hobbies__title {
    font-size: var(--fontMain2);
  }

  .hobbies__box {
    display: flex;
    justify-content: space-between;
    border: 1px;
    width: 30.8vw;
    font-size: 0.5rem;
  }

  .hobbies__line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5rem;
  }

  .hobbies__list {
    width: 20rem;
    border: #464646 solid;
    height: 5rem;
  }
}
